body{
  font-size: 16px;
  line-height: 24px;
  color: $default;
}

.container{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  color: #7b7b7b;
  font-size: 14px;
  @extend %rubik-400;
}

.title{
  font-size: 36px;
  text-align: center;
  @extend %dmsand-700;
  color: #1a1a1a;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
  }
  &__item {
    color: #737980;
    padding-right: 10px;
    font-size: 14px;
    @extend %rubik-400;
    position: relative;
    &::after {
      content: '/';
      position: absolute;
      width: 7px;
      height: 14px;
      right: 1px;
      top: 0;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: inherit;
  }

}
