$default: #436372;
$accent: #fef7f0;



%dmsand-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%dmsand-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsand-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%btn {
 background-color: #a3bbc8;
 color: #fff;
 padding: 14px 15px 14px 15px;
 font-size: 14px;
 @extend %dmsand-400;
 border: none;
}