@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &__text{
    margin-left: 15px;
    color: $default;
    font-size: 36px;
    @extend %rubik-500;
  }
}
.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    color: $default;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
  }
}
.user-nav{
  display: flex;
  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edf1f4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__products{
    display: flex;
    justify-content: space-between;
    background-color: #fcd7b6;
    border-radius: 70px;
    margin: 0 20px;
    padding: 17px 40px 13px 40px;
    width: 180px;
  }
  &__likes-line{
    position: relative;
  }
  &__likes-line::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 32px;
    top: -7px;
    left: 50px;
    background-color: #fde7d3;
  }
  &__likes{
    position: relative;
  }
  &__likes-num{
    position: absolute;
    height: 16px;
    width: 16px;
    font-size: 10px;
    line-height: 16px;
    background-color: #fff;
    right: -11px;
    top: -6px;
    text-align: center;
    border-radius: 50%;
    @extend %dmsand-700;
  }
  &__button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a3bbc8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
footer{
  background-color: #fff;
  width: 1170px;
  margin: 0 auto;
}

.footer-top{
  display: flex;
  padding: 85px 0 75px;
  border-bottom: 1px solid #dae4e9;
  align-items: baseline;
  &__logo{
    justify-content: flex-start;
    margin-bottom: 28px;
  }
  &__contact {
    width: 210px;
    margin-right: 100px;
  }
  &__nav {
    width: 170px;
    margin-right: 130px;
  }
  &__item-form {
    max-width: 270px;
  }
  &__address,
  &__email,
  &__phone {
    display: block;
    margin-bottom: 20px;
  }
  &__title {
    color: #1f2044;
    margin-bottom: 26px;
    @extend %dmsand-700;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.313;
  }
  &__link {
    margin-bottom: 20px;
    display: block;
  }
  &__text {
    margin-bottom: 40px;
    font-size: 14px;
    @extend %rubik-400;
    color: #7b7b7b;
  }
  
  &__form-input {
    max-width: 170px;
    background-color: $accent;
    width: 100%;
    border: none;
    padding: 14px 15px 14px 15px;
    &::placeholder {
      color: #234969;
      font-size: 12px;
      line-height: 1.2;
      @extend %dmsand-400;
    }
  }
  &__form-btn {
    @extend %btn;
    width: 100px;
    cursor: pointer;
    margin-left: -4px;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  @extend %rubik-400;
  color: #7b7b7b;

  &__link{
    display: flex;
    justify-content: space-between;
  }
  &__menu-item:after{
    content: '';
    height: 17px;
    border: 1px solid #7b7b7b;
    margin: 0 20px 0 20px;

  }
}








@import 'media';


